# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jorge\Dropbox\Ago-Dic 2020\Lab Sistemas Adaptativos\Act 2.1\vocales_RNA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
